title Tiny Tanks
link(rel="stylesheet", href="ui.css")
canvas#view
#score
	#p0
	#p1
#message
#menu
	div Tiny Tanks
	button(onclick="newGame(1)") 1 Player
	button(onclick="newGame(2)") 2 Players
script(src="config.js")
script(src="levels.js")
script(src="game.js")
