* {
  text-align: center;
  font-size: 48px;
  color: #eee; }

body, canvas {
  padding: 0;
  margin: 0;
  border: 0;
  background: #333; }

#view, #menu, #message {
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 2px 2px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase; }

#view {
  background: linear-gradient(black, #242424); }

#menu {
  background: #333;
  padding: 16px;
  font-family: Impact, Charcoal, sans-serif; }

#score {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 16px; }

button {
  display: block;
  width: 100%;
  background: #444;
  border: 2px solid #eee;
  border-radius: 16px;
  margin: 4px;
  text-shadow: 2px 2px black;
  outline: none; }
